---
import { Image, Picture } from "astro:assets";
import heroImage from "../assets/hero-screenshot.png";
import Link from "@components/ui/link.astro";
import Container from "@components/container.astro";
import successImg from "@assets/success.webp";
---

<div class="overflow-x-clip py-12">
  <Container>
    <main class="grid lg:grid-cols-5 place-items-center relative">
      <div
        class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-indigo-200 right-0 top-0">
      </div>
      <div
        class="absolute w-96 h-96 blur-2xl -z-10 bg-gradient-radial from-purple-200 right-56 top-10">
      </div>

      <div class="max-w-sm md:max-w-max lg:col-span-2">
        <p
          class="text-sm lg:text-md font-semibold [text-wrap:balance] text-center lg:text-start">
          SUCCESS STORIES
        </p>
        <h1
          class="text-3xl lg:text-4xl xl:text-6xl font-bold [text-wrap:balance] text-center lg:text-start">
          Delivering real results
        </h1>
        <p
          class="text-lg mt-4 max-w-lg text-slate-600 [text-wrap:balance] text-center lg:text-start">
          When you partner with RankSpark, we take care of the heavy lifting, so
          you can enjoy more website traffic, leads, and revenue.
        </p>
      </div>
      <div class="py-3 lg:col-span-3 lg:-mr-44">
        <Picture
          src={successImg}
          alt="Decorative Image"
          class="md:h-[28rem] w-auto object-cover rounded-3xl md:rounded-[3rem]"
          formats={["avif", "webp"]}
          loading="eager"
          fetchpriority="high"
        />
      </div>
    </main>
  </Container>
</div>
