---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Faq from "@components/faq.astro";
import FeatureAlt from "@components/feature-alt.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import PricingHeader from "@components/pricing-header.astro";
import Testimonials from "@components/testimonials.astro";
import Layout from "@layouts/Layout.astro";
import RanksparkHero from "@components/rankspark-hero.astro";

import groq from "groq";
import { sanityClient } from "sanity:client";

const query = groq`*[_type == "landingPage"] {
    header {
      title,
      description,
      image,
      primaryButton->{ text, path },
      secondaryButton->{ text, path },
    },
    features {
      heading,
      description,
      image,
      metrics[],
      list[],
      button->{text, path}
    }[],
    featuresGrid
  }[0]`;

const landingPage = await sanityClient.fetch(query);
if (!landingPage) {
  return Astro.redirect("/404");
}
---

<Layout footerMargin={false}>
  <RanksparkHero />
  <!-- <Hero header={landingPage.header} /> -->
  <div class="mt-24">
    <Container>
      <Features features={landingPage.featuresGrid} />
      <FeatureAlt features={landingPage.features} />
      <Logos />
    </Container>
  </div>
  <div class="bg-indigo-50/40 pt-4 pb-12 mt-24">
    <Container>
      <PricingHeader />
    </Container>
  </div>
  <Testimonials />
  <Container>
    <Faq />
    <!-- <FeatureGrid /> -->
  </Container>
  <Cta />
</Layout>
