---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Logos from "@components/logos.astro";
import Testimonials from "@components/testimonials.astro";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/hero.astro";
import PortableText from "@components/portableText/index.astro";
import urlFor from "@utils/urlFor";
import { sanityClient } from "sanity:client";

const { id } = Astro.params;
const story = await sanityClient.fetch(
  `*[_type == "successStories" && slug.current == "${id}"] {
    slug,
    title,
    heading,
    description,
    body,
    mainImage,
    publishedAt,
    services[]->{
      title
    }
  }[0]`,
);
if (!story) {
  return Astro.redirect("/404");
}

export const prerender = false;
---

<Layout footerMargin={false}>
  <Hero
    header={{
      title: story.heading,
      subTitle: story.title,
      description: story.description,
      image: story.mainImage,
    }}
  />
  <Container>
    <Logos />
    <main class="border-y py-16 mt-16">
      <PortableText value={story.body} />
    </main>
  </Container>
  <Testimonials />
  <Cta />
</Layout>
